
doctype html 
html(lang='ko')
    head 
        title #{title} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            h1=title
            nav(style="margin:0")
                ul 
                    li 
                        a(href="/") Home
                    li 
                        a(href="/search") Search
                    
                    if(!loggedIn) 
                        li 
                            a(href="/Login") Login
                        li 
                            a(href="/join") Join
                    else
                        li 
                            a(href="/video/upload") Upload Video
                        li 
                            a(href="/users/edit") Edit Profile
                        li 
                            a(href="/users/logout") Logout
        main 
            block contents
            include includes/footer.pug