extends base.pug

block contents 

    if errorMessage 
        span=errorMessage

    form(method="post") 
        input(type="password" name="oldPw" placeholder="현재 비밀번호" value="" required)
        input(type="password" name="newPw" placeholder="새 비밀번호" value="" required)
        input(type="password" name="newPw2" placeholder="새 비밀번호 확인" value="" required)

        input(type="submit" value="Change Password")
